<html>
    <body>
        <header>
            <input type="checkbox" id="nav-toggle" class="nav-toggle">
            <nav>
                <ul>
                    <li><a routerLink="blog">Blog</a></li>
                    <li><a routerLink="books">Books</a></li>
                    <li><a routerLink="news">News</a></li>
                    <li><a routerLink="faq">FAQ</a></li>
                    <li><a routerLink="contacts">Contacts</a></li>
                </ul>
            </nav>
            <label for="nav-toggle" class="nav-toggle-label">
                <i class="fa-solid fa-bars burgericon" style="color: #ffffff;"></i>
            </label>
            <h1 routerLink="home" class="name">Xandré Sage</h1>
            <div class="icons">
                <a href="https://www.instagram.com/xandresage/" target="_blank"><i class="fa-brands fa-instagram fa-insta-grad"></i></a>
                <a href="https://www.facebook.com/XandreSage/" target="_blank"><i class="fa-brands fa-facebook" style="color: #1A73E8;"></i></a>
                <a href="https://www.goodreads.com/user/show/2833896-alex-roddy" target="_blank"><i class="fa-brands fa-goodreads-g" style="color: #EEDFC7;" ></i></a>
                <a href="mailto:xandresage@gmail.com"><i class="fa-regular fa-envelope" style="color: #D24034;"></i></a>
                <a href="https://open.spotify.com/user/22q3htbtrrqtog6qb7cuvqoji?si=baf48c0053b04c7b" target="_blank"><i class="fa-brands fa-spotify" style="color: #1CCC58;"></i></a>
            </div>
            <a href="#" class="newsletter" id="newsletter">Join my<br>Newsletter</a>
        </header>
    </body>
   
</html>

<!-- <html>
    
    <div class="navbar">
        <div class="nav-list-container">
            <i class="fa-solid fa-bars burgericon" style="color: #ffffff; font-size: 20px; margin-left: 1em;" (click)="controlItems()"></i>
            <ul class="navlist" id="navlist">
                <li id="blog">
                    <a routerLink="blog" class="popoutText">Blog</a>
                </li>
                <div class="books-container">
                    <li id="books" (click)="controlBooks()">
                        Books
                    </li>
                    <ul class="books-list" id="books-list">
                        <li><a routerLink="masterpiece" class="popoutTextBooks">Master Piece(Unofficial Title)</a></li>
                        <li><a routerLink="ourspace" class="popoutTextBooks">Our Space</a></li>
                        <li><a routerLink="thehouse" class="popoutTextBooks">The House on St. Charles Avenue</a></li>
                        <li><a routerLink="hydeandseek" class="popoutTextBooks">Hyde and Seek</a></li>
                       
                    </ul>
                </div>
                
                <li id="news">
                    <a routerLink="news" class="popoutText">News</a>
                </li>
                <li id="faq">
                    <a routerLink="faq" class="popoutText">FAQ</a>
                </li>
                <li id="contacts">
                    <a routerLink="contacts" class="popoutText">Contacts</a>
                </li>
            </ul>
        </div>
        
        <p style="color:white; " class="name"><a routerLink="home">Xandré Sage</a></p>
        <a href="#" class="newsletter" id="newsletter">Join my Newsletter</a>
        <div class="icons">
            <a href="https://www.instagram.com/xandresage/" target="_blank"><i class="fa-brands fa-instagram fa-insta-grad icon"></i></a>
            <a href="https://www.facebook.com/XandreSage/" target="_blank"><i class="fa-brands fa-facebook icon" style="color: #1A73E8;"></i></a>
            <a href="https://www.goodreads.com/user/show/2833896-alex-roddy" target="_blank"><i class="fa-brands fa-goodreads-g icon" style="color: #EEDFC7;" ></i></a>
            <a href="mailto:xandresage@gmail.com"><i class="fa-regular fa-envelope icon" style="color: #D24034;"></i></a>
            <a href="https://open.spotify.com/user/22q3htbtrrqtog6qb7cuvqoji?si=baf48c0053b04c7b" target="_blank"><i class="fa-brands fa-spotify icon" style="color: #1CCC58;"></i></a>
            
        </div>
       
    </div>
</html> -->
