@import url('https://fonts.googleapis.com/css?family=Lexend');
*, *::after, *::before{
    box-sizing: border-box;
}
html{
    font-family: "Lexend", sans-serif;
    color:white;
    margin:0;
    padding:0;
    overflow: hidden;
}
body{
    display:grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
    background:linear-gradient(140deg, #57D7DA,#947CD1, #BE42C1, #DF2B9E, #F54D71, #FB7061, #FEED4E);
    width:100%;
    height: 5000px;
    background-size:auto;
    & .creds{
        height: 50%;
        grid-area: 1 / 1 / 2 / 2;
        justify-self: center;
        align-self: center;
        width: 80%;
        padding-left:6rem;
        & .p1{
            font-size: 6em;
            margin-bottom: 2rem;
        }
        & .p2 {
            font-size: 2em;
            margin-bottom: 1rem;
        }
        & .p3 {
            font-size: 1.6em;
            word-wrap: break-word;
        }
    }
    & .copyright{
        grid-row: 6 / span 1;
        margin-top:auto;
        margin-left: 1rem; margin-bottom: 1rem;
        font-size:larger;
    }
    & .bio{
        display:grid;
        grid-template-columns: minmax(50%, 1fr) minmax(20%, 1fr);
        grid-template-rows: 1fr;
        grid-row: 2 / span 1;
        background: black;
        padding: 4rem;
        & p{
            grid-area: 1 / 1 / 2 / 2;
            font-size:larger;
        }
        & img{
            border-radius: 500px;
            grid-area: 1 / 2 / 2 / 3;
            max-height: 80%;
            max-width: 80%;
            justify-self: center;
            align-self: center;
        }
    }
    & .works {
        display:grid;
        grid-template-columns: 1fr 1fr;
        & .poem {
            align-self:center;
            grid-area: 1 / 1 / 2 / 2;
            text-align: center;
            & img {
                justify-self: center;
                align-self: center;
                margin: 1rem;
                max-width: calc(100% - 2rem)
            }
        }
        & p {
            grid-area: 1 / 2 / 2 / 3;
            align-self: center;
            text-align: center;
            font-size: larger;
        }
    }
   
}

@media screen and (max-width:824px){
    body{
        & .creds{
            padding:0;
            width: 50%;
            & p{
                text-align: center;
            }
            & .p1{
                font-size: 3.5em;
                margin-bottom: 1rem;
            }
            & .p2{
                font-size: 2em;
                margin-bottom: 1rem;
            }
            & .p3{
                font-size: 1.2em;
            }
        }
        & .bio{
            grid-template-columns: minmax(50%, 1fr);
            grid-template-rows: auto auto;
            & p{
                grid-area: 1 / 1 / 2 / 2;
                justify-content: center;
                text-align: center;
            }
            & img{
                border-radius: 500px;
                grid-area: 2 / 1 / 3 / 2;
                max-width: 60%;
                justify-self: center;
                align-self: center;
            }
        }
        & .works {
            display:block;
            grid-row: 3 / span 1;
            text-align: center;
        }
        
    }

}
@media screen and (max-width:372px){
    body{
        & .creds{
            padding:0;
            width: 50%;
            & .p1{
                font-size: 3em;
                margin-bottom: 1rem;
            }
            & .p2 { 
                font-size: 1.7em;
                margin-bottom: 1rem;
            }
            & .p3 {
                font-size: 1em;
            }
        }
    }
}

