<html>
    <body>
        <div class="creds">
            <p class="p1">Xandré Sage</p>
            <p class="p2">The Author</p>
            <p class="p3">
                #FutureNewYorkTimesBestsellingAuthor<br><br>
                #Writer #Poet #PuppyMommy #INFP #Aquarious
            </p>
        </div>
        <div class="bio">
            <p>
                About The Author:<br><br><br><br><br><br>
                Alexandré Sage Roddy, the author, was born on Friday, 
                February 13th, 1998. Xandré is a full-time student at Southern New Hampshire University. 
                She currently lives in Chico, California. However, she is originally from the small town of Abita Springs, Louisiana. <br><br>
                Xandré mostly writes High Fantasy Adventure novels but is always excited about any genre of adventure! <br><br>
                “I go by Xan, sounds like Zan”
            </p>
            <img src="/assets/pic-1.jpg" alt="pic1">
        </div>
        <div class="works">
            <div class="poem">
                <h1>Original Poem</h1>
                <img src="/assets/poem-1.png" alt="poem1">
            </div>
            <p>
                Books and Content:<br><br>
                The House on St. Charles Ave. is the novel Xan is currently working on. She has two other unnamed books in the prepping process.
            </p>
        </div>
        
        <p class="copyright" id="copyright">2023 Copyright © Xandré Sage | All Rights Reserved</p>
    </body>
    
</html>
